* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}


.wrapper {
  height: 100vh;
  background-color: #23272A;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;


.calculator_wrapper {
  background-color: #FFFFFF;
  width: 695px;
  height: 640px;
  display: flex;
  user-select: none;


.canvas {
  width: 50%;
  display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 80px;
}
.sidebar {
  width: 50%;
 position: 'relative';
 
.sidebar-content {
  margin-top: 106px;
  margin-left: 80px;


  }
}

.sidebar-display {
display: flex;
width: 240px;
height: 60px;
background: #FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
border-radius: 4px;
margin-bottom: 12px;
}

.sidebar-display__content {
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 4px 8px;
gap: 10px;
width: 232px;
height: 52px;
background: #F3F4F6;
border-radius: 6px;
margin: auto auto;
position: relative;
.sidebar-display__result {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #111827;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .result__lenght {
    font-size: 15px;
    align-self: center;
  }
  .result__low {
    font-size: 19px;
    align-self:flex-end;
  }
  .sidebar-display__upper {
    position: absolute;
    top: -25px;
    font-size: 14px;
  }
}




.result__constructor {
  font-size: 36px;
line-height: 44px;
}
.result__runtime {
  font-size: 19px;
  line-height: 23px;
  user-select: text;
}

.sidebar-operators {
width: 240px;
height: 56px;
background: #FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 12px;
}

.sidebar-operators__content {
  display: flex;
  gap:8px;
  justify-content: center;
}

.sidebar-operators__content button {
  background: #FFFFFF;
border: 1px solid #E2E3E5;
border-radius: 6px;
width: 52px;
height: 48px;
display: flex;
justify-content: center;
font-weight: 500;
font-size: 14px;
line-height: 15px;
font-style: normal;
font-family: 'Inter', sans-serif;
align-items: center;
}

.sidebar-numbers {

width: 240px;
height: 224px;
background: #FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 12px;
}

.sidebar-numbers__content {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.sidebar-numbers__content button {
  background: #FFFFFF;
border: 1px solid #E2E3E5;
border-radius: 6px;
width: 72px;
height: 48px;
display: flex;
justify-content: center;
font-weight: 500;
font-size: 14px;
line-height: 15px;
font-style: normal;
font-family: 'Inter', sans-serif;
align-items: center;
}

.sidebar-equal {
width: 240px;
height: 72px;
background: #FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 12px;
}

.sidebar-equal__content {
width: 232px;
height: 64px;
background: #5D5FEF;
border-radius: 6px;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 15px;
color: #FFFFFF;
}

.sidebar-switch {
margin-top: 38px;
padding: 1px;
width: 243px;
height: 38px;
background: #F3F4F6;
border-radius: 6px;
margin-bottom: 30px;
}
.sidebar-switch__content {
  height: 38px;
  user-select: none;
  display: flex;
  flex-direction: row;
  
}

.constructor-items__runtime {
box-sizing: border-box;
display: flex;
gap: 8px;
justify-content: center;
align-items: center;
width: 108px;
font-weight: 500;
font-size: 14px;
line-height: 15px;
font-family: 'Inter', sans-serif;
height: 36px;
}

.constructor-items {
box-sizing: border-box;
display: flex;
gap: 8px;
justify-content: center;
align-items: center;
width: 133px;
height: 36px;
margin-left: auto;
font-weight: 500;
font-size: 14px;
line-height: 15px;
font-family: 'Inter', sans-serif;


}
.active {
  background: #FFFFFF;
  border: 1px solid #E2E3E5;
  border-radius: 5px;
  height: 36px;
}
.sidebar-constuctor {
  width: 243px;
height: 448px;
position: relative;
border: 2px dashed #C4C4C4;
border-radius: 6px;
position: relative;

}
.sidebar-constuctor__content {
width: 243px;
height: 448px;
position: relative;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
  .sidebar-constructor__placeholder {
    
    position: absolute;
    text-align: center;
  }
}

.sidebar-constuctor__blue {
  pointer-events: none;
width: 127px;
height: 17px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #5D5FEF;
margin-bottom: 4px;
margin-top: 7px;
}

.sidebar-constuctor__bottom {
  pointer-events: none;

height: 30px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
text-align: center;
color: #6B7280;
}



.not_active {
  box-shadow: none;
border-radius: none;
opacity: 0.5;
}

.not_active_constructor {
  border: none;
  border-radius: none;
}

.bg-color {
  background-color: #F0F9FF;;
}



/* div[data-rbd-placeholder-context-id='0'] {display: none !important;} */
div[data-rbd-draggable-context-id="0"] {
  transition: none;
  margin-bottom: 12px;
  position: relative;
}



.right_side {
  box-shadow: none;
  
}

.action_active:hover {
  cursor: pointer;
  border: 2px solid #5D5FEF;
}



.number_deactive {
  cursor: inherit;
}



.display__cursor {
  cursor: not-allowed;
}
[data-rbd-drag-handle-context-id="0"] {
  width: 240px;
  cursor: move !important;
}
.runtime_disable_drag {
  cursor: auto;
}





}
}

.draggable-holder {
  position: absolute;
  left: -5px;
  bottom: -1px;
}
.draggable-holder__top {
  position: absolute;
  left: -5px;
  z-index: 5;
  top: -2px;
}