* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  .sidebar {
    width: 50%;
    position: "relative";
  }

  .calculator_wrapper {
    background-color: #ffffff;
    width: 695px;
    height: 640px;
    display: flex;
    user-select: none;
    overflow: hidden;

    .sidebar-content {
      margin-top: 106px;
      margin-left: 80px;
    }

    .sidebar-constuctor {
      width: 243px;
      height: 448px;
      position: relative;
      border: 2px dashed #c4c4c4;
      border-radius: 6px;
      position: relative;
    }

    .not_active_constructor {
      border: none;
      border-radius: none;
    }

    .bg-color {
      background-color: #f0f9ff;
    }

    div[data-rbd-draggable-context-id="0"] {
      transition: none;
      margin-bottom: 12px;
      position: relative;
    }

    [data-rbd-drag-handle-context-id="0"] {
      width: 240px;
      cursor: move !important;
    }
  }
}

.draggable-holder {
  position: absolute;
  left: -5px;
  bottom: -1px;
}

.draggable-holder__top {
  position: absolute;
  left: -5px;
  z-index: 5;
  top: -2px;
}

.drag-clone__constructor > div {
  opacity: 0.5;
  box-shadow: none !important;
}

.hide__placeholder {
  display: none;
}
